/* reset */
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0;
}

/* mobile */

.mn-1, .nm-2 {
    display: None;
}

/* tabs */

.tabs_main {
    margin: 2vh 1vw;
    margin-top:4vh;
    flex: 1;
}

.m_fc420b1f {
    margin-right: 0.4em;
}

/* all emcompassing */
.d {
    display: grid;
    max-height: 70vh;
}

.t {
    margin: 2vh 0.5vw;
}

.in {
    display: inline;
}

.f-parent {
    display: flex;
    justify-content: center;

}

.f-child {
    width: 25vw;
}


.text_header {
    margin-bottom: 1vh;
    display:flex;
    align-items: center;
}

.text_standard_intro {
    margin-bottom: 3vh;
}

.icons {
    margin-right: 0.3em;
}


/* tab1 */

.d1 {
    grid-template-columns:1fr 3fr;
    grid-template-rows: 1fr 1fr;
    margin-top:2vh;
}

.inline_comp_3_0 {
    grid-column: 1/2;
}

.comp1_geo_card {
    grid-column: 2/3;
    grid-row: 1/3;
}

/* tab2 */

.d2 {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.comp5_hist_fig_tab2_card {
    grid-column: 1/2;
    grid-row: 1/3;
}

.comp6_pie_fig_tab2_card {
    grid-column: 2/3;
    grid-row: 1/2;
}


/* tab3 */

/* tab4 */

/* title */

.tit {
    height: 20vh;
    background-color: darkcyan;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

.footie-all {
    height: 15vh;
    display: grid;
    grid-template-rows: 19fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.footie-middle {
    height: 10vh;
    grid-column: 2/3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footnt-parent {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    padding: 20px;
}

.footnt-child {
    display:flex;
    align-items: center;
    justify-content:center;
}


.footertinytext {
    color: white;
    font-size: 10px;
    grid-row: 2 / 3;
    grid-column: 1 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* mobile */
@media all and (max-width: 800px) {
    .nm {
        display: None;
    }

    .mn-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 7vw;
        color: white;
        background-color: rgb(211, 82, 82);
    }

    .mn-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height:100vh;

    }
}
