/* reset */
h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

/* mobile */

.mn-1, .nm-2 {
    display: None;
}

/* tabs */

.tabs_main {
    margin: 2vh 1vw;
    margin-top:4vh;
    flex: 1;
}

.m_fc420b1f {
    margin-right: 0.4em;
}

/* all emcompassing */

.d {
    display: grid;
}

.t {
    margin: 2vh 0.5vw;
}

.in {
    display: inline;
}
/* filters */

.f-parent {
    display: flex;
    justify-content: center;

}

.f-child {
    width: 25vw;
}

.flex-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px 0;
}

.f-column-parent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.f-top-child {
    margin-bottom: 0;
}

.f-bottom-child {
    display: flex;
    justify-content: center;
}

.f-all {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-all-outer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.basic-segments {
    justify-content: center;
    flex-wrap: wrap;
}

.m_347db0ec {
    margin: 0.5em;
}

.subsegment-color .mantine-MultiSelect-pill[data-value="1"] {
    background-color: #A1A1A1;
}

.subsegment-color .mantine-MultiSelect-pill[data-value="2"] {
    background-color: #F9C926;
}

.subsegment-color .mantine-MultiSelect-pill[data-value="3"] {
    background-color: #DC7326;
}

.subsegment-color .mantine-MultiSelect-pill[data-value="4"] {
    background-color: #4897CD;
}

.subsegment-color .mantine-MultiSelect-pill[data-value="5"] {
    background-color: #2E9999;
}


.text_header {
    margin-bottom: 1vh;
    font-weight:500;
    display:flex;
    align-items: center;
}

.text_standard_intro {
    margin-bottom: 3vh;
}
.text_nomargin {
    margin-bottom: 0;
}

.icons {
    margin-right: 0.3em;
}


/* tab1 */

.d1 {
    max-height: 90vh;
    grid-template-columns:1fr 3fr;
    grid-template-rows: 1fr 1fr;
    margin-top:2vh;
}

.inline_comp_3_0 {
    grid-column: 1/2;
}

.comp1_geo_card {
    grid-column: 2/3;
    grid-row: 1/3;
}

/* tab2 */

.d2 {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.comp3_dropdown_tab2_card {
    height: 100%;
}

.comp5_hist_fig_tab2_card {
    grid-column: 1/2;
    grid-row: 1/3;
}

.comp14_description_text_inline_tab2 {
    grid-column: 2/3;
    grid-row: 1/3;
}

.comp6_pie_fig_tab2_card {
    min-height: 20vh;
    max-width: 25vw;
    max-height: 30vh;
    margin-bottom: 0;
    height: 40%;
}

/* tab3 */

.comp22_dropdown_country_tab3 {
    margin-bottom: 0;
    width: 100%;
}

.comp7_dropdown_tab3_card, .comp15_topic_dropdown_tab3_card, .comp12_cs1_dropdown_tab3_card, .comp17_cs2_dropdown2_tab3_card {
    height: 100%;
}

/* tab4 */

.comp9_dropdown_tab4_card, .comp16_topic_dropdown_tab4_card, .comp13_cs1_dropdown_tab4_card, .comp18_cs2_dropdown_tab4_card {
    height: 100%
}

/* title */

.tit {
    height: 20vh;
    background-color: darkcyan;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* footer */

.footie-all {
    height: 15vh;
    display: grid;
    grid-template-rows: 19fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.footie-middle {
    height: 11.5vh;
    grid-column: 2/3;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footnt-parent {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:center;
    padding:  0px 20px;
}

.footnt-child {
    display:flex;
    align-items: center;
    justify-content:center;
}


.footertinytext {
    color: white;
    font-size: 10px;
    grid-row: 2 / 3;
    grid-column: 1 / 8;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* mobile */
@media all and (max-width: 800px) {
    .nm {
        display: None;
    }

    .mn-1 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 7vw;
        color: white;
        background-color: rgb(211, 82, 82);
    }

    .mn-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height:100vh;

    }
}

@media all and (max-height: 700px) {
    .footie-all {
        display: None;
    }
    .d1 {
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top:2vh;
        margin-bottom:2vh;
    }
    .inline_comp_3_0 {
        grid-column: 1/3;
    }

    .comp1_geo_card {
        grid-column: 3/5;
        grid-row: 1/3;
    }
}


@media all and (max-width: 1000px) {
    .footie-all {
        display: None;
    }
    .d1 {
        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top:2vh;
        margin-bottom:2vh;
    }
    .inline_comp_3_0 {
        grid-column: 1/3;
    }

    .comp1_geo_card {
        grid-column: 3/5;
        grid-row: 1/3;
    }
}